<%# add navigation links to this file %>
<%= link_to 'Home', root_path, class: 'navbar-brand' %>
<% if user_signed_in? %>
  <!--<li><%= link_to current_user.name , edit_user_registration_path %></li>-->
  <li><%= link_to 'My Account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Pay Bill', new_payment_path %></li>
  <li><%= link_to 'My Bills', bills_path %></li>
  <li><%= link_to 'My Payments', payments_path %></li>
<% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
